

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}





<div id="page-content" class="archive-page container">

    <div class="row">
        <div id="main-content" class="col-md-12">
            <div class="box">
               
                <div class="box-content">
                   
                    <ul>
                        <li><h6>Profil bilgileriniz başarıyla değiştirildi.</h6></li>
                        
                    </ul>
                    <br /><br />
                </div>
            </div>
        </div>

    </div>
</div>
