@{
    ViewData["Title"] = "HAKKIMIZDA";
}
<h2>@ViewData["Title"].</h2>
<img src="~/images/sivil.png" class="img-responsive" />
<h3>@ViewData["Message"]</h3>
<ul>
    <li>Haber Sİzsiniz-Bir şehrin insanlarını o şehrin sorunlarından haberdar etmek</li>
    <li>ve duyarlı insanları bu sorunlarla mücadele etmek için bir araya getirmek için kurulmuş</li>
    <li>ülke çapında bir STK dır</li>
    <li>Ayrıca haberleri acil yardım, altyapı, ulaşım, spor, yerleşim, terör gibi alt kategorilerde görüntüleyerek</li>
    <li>ilgili devlet ve belediye birimlerini bilgilerndirme amacı olup</li>
    <li>aynı zamanda üyelerinin de acil konularda hemen yardım talep edebileceği yada yardım edebileceği bir bilgilendirme platformuna sahiptir</li>
</ul>