@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid" ng-controller="News" style="padding-top:20px;">
    <div class="row" style="text-align: center;">
       
        <div class="col-sm-12">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" ng-if="lastNew()!=null">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner">

                    <div class="item active">

                        <img src="{{lastNew().primaryImgURL}}" style="width: 100%; height: 400px; margin-top: 5px" alt="First slide">

                        <!-- Static Header -->
                        <div class="header-text hidden-xs">
                            <div class="col-md-12 text-center">
                               
                                <h2>{{lastNew().title}}</h2>
                             
                            </div>
                        </div><!-- /header-text -->
                    </div>
                    <div class="item" ng-repeat="haber in last2News()">
                        <img id="primaryImage" src="{{haber.primaryImgURL}}" style="width: 100%; height: 400px; margin-top: 5px" alt="">
                        <!-- Static Header -->
                        <div class="header-text hidden-xs">
                            <div class="col-md-12 text-center">
                         
                                <h2>{{haber.title}}</h2>
                            
                            </div>
                        </div><!-- /header-text -->
                    </div>
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>  
               
            </div>

            <div class="col-sm-8" ng-if="activeHaber==null">
              
                <form onsubmit="return false" oninput="level.value = distance.valueAsNumber">
                    <label style="width:60%" for="dist">Kaç Kilometre Uzaklığı Görmek İstersiniz?</label>
                    <output for="dist" name="level">50</output>/50
                    <input style="width:60%" ng-model="MyValue" name="distance" id="dist" type="range" min="0" max="50" ng-init="MyValue=50" ng-change="updateDistanceLimit(MyValue)">

                </form>

                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">

                        <a asp-area="" asp-controller="Home" asp-action="Category" data-toggle="dropdown">Kategori</a>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="category in categories" ng-class="News" ng-click="getNewsByCategory(category.categoryID)"><a>{{category.name}}</a> </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div class="col-sm-8">
      
                  
                          
                                    
                             
                    
                        <div class="panel panel-default" ng-repeat="haber in habers()" style="margin-top:20px;  ">
                                <div class="panel-heading" style="height: 60px;">

                                    <img src="{{getProfileImage(haber.user)}}" style="height: 50px; width: 50px" alt="" />

                                    <h6 style="display: inline-block;"><small>{{haber.user.name + " " + haber.user.surname}}</small></h6>
                                    <ul class="list-inline pull-right" style="margin: 0; line-height: 20px">
                                        <li class="list-inline-item" style="border-left: solid 1px grey; padding: 0 5px 0 5px">
                                            <ul class="list-inline" style="margin: 0; line-height: 20px">
                                                <li class="list-inline-item" style="padding: 0 5px 0 5px">
                                                    <h6 style="display: inline-block; margin: 0">{{getHaberLikesOf(haber.haberID)}}</h6>
                                                    <i class="fa fa-2x fa-thumbs-o-up"></i>
                                                </li>
                                                <li class="list-inline-item" style="padding: 0 5px 0 5px">
                                                    <i class="fa fa-2x fa-thumbs-o-down"></i>
                                                    <h6 style="display: inline-block; margin: 0">{{getHaberDislikesOf(haber.haberID)}}</h6>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="list-inline-item" style="border-left: solid 1px grey; padding: 0 5px 0 5px">
                                            <h6 style="display: inline-block; margin: 0"><i class="fa fa-calendar"></i> {{haber.timeStamp | date:'dd/MM/yyyy'}}</h6>
                                        </li>
                                    </ul>
                                </div>
                                <div class="panel-body" style="text-align: center">
                                    <div class="row">
                                        <div class="container-fluid" style="padding: 0 10px 0 10px">
                                            <div class="col-sm-5">
                                                <div class="row">
                                                    <img id="primaryImage" src="{{haber.primaryImgURL}}" style="width: 300px; height: 200px; margin-top: 5px" alt="">
                                                </div>
                                            </div>
                                            <div class="col-sm-7" style="text-align: left; font-size: 1.25em;">
                                                <h5>{{haber.title}}</h5>
                                                <hr>
                                                {{haber.headLine}}<a ng-click="getNewsDetail(haber.haberID)" class="btn  btn-facebook pull-right" style=" margin-top:50px; right:0px; " role="button">Devamı</a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default" ng-repeat="haber in activeHaber" style="margin-top: 5px;">
                            <div class="col-sm-8">
                                <div id="page-content" class="single-page container">
                                    <div class="row">
                                        <div id="main-content" class="col-md-7">
                                            <div class="box">
                                                <h1 class="vid-name">
                                                    <a href="#">{{haber.title}}</a>
                                                </h1>
                                                <div class="wrap-vid">
                                                    <img id="primaryImage" src="{{haber.primaryImgURL}}" style="width: 500px; height: 300px; margin-top: 5px" alt="">
                                                </div>

                                                <div class="info">
                                                    <h5> 
                                                    <img src="{{getProfileImage(haber.user)}}" style="height: 30px; width: 30px" alt="" />
                                                    <a href="#">{{haber.user.name + " " + haber.user.surname}}</a></h5>
                                                    <span><i class="fa fa-calendar"></i>{{haber.timeStamp | date:'yyyy/MM/dd'}}</span>
                                                    <span class="list-inline-item" ng-click="likeNews()">
                                                        {{getHaberLikesOf(haber.haberID)}}</>
                                                        <i class="fa fa-2x fa-thumbs-o-up"></i>
                                                    </span>
                                                    <span class="list-inline-item" style="padding: 0 5px 0 5px" ng-click="dislikeNews()">

                                                        {{getHaberDislikesOf(haber.haberID)}}</>
                                                        <i class="fa fa-2x fa-thumbs-o-down"></i>
                                                    </span>

                                                </div>
                                                <p style="margin-top: 15px; font-size: 15px;">{{haber.detail}}</p>
                                                <hr />
                                                <div class="comment">

                                                    <form ng-submit="uploadComment()">
                                                        <div class="col-md-8 " style="text-align: left; font-size: 1em; margin-top: 100px">
                                                            <h6>Yorum Ekle:</h6>
                                                            <input name="yorumIcerik" id="yorumIcerik" class="form-control" ng-model="yorumIcerik" ng-required="true" />
                                                        </div>
                                                        <div class="col-md-8" style="margin-top: 10px">
                                                            <input type="submit" class="btn btn-block btn-primary" value="Paylaş" />
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="box">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="list-group-item" ng-repeat="yorum in yorumlar track by $index">

                                                                <section class="comment-list">
                                                                    <!-- First Comment -->
                                                                    <article class="col-sm-6">

                                                                        <div class="col-sm-12">
                                                                            <div class="panel panel-default arrow left">
                                                                                <div class="panel-body">
                                                                                    <header class="text-left">
                                                                                        <div class="comment-user">
                                                                                            <i class="fa fa-user"></i> {{kisiler[$index]}}
                                                                                        </div>
                                                                                        <time class="comment-date" datetime="16-12-2014 01:05"><i class="fa fa-clock-o"></i> {{yorum.timeStamp | date:'yyyy/MM/dd'}}</time>
                                                                                    </header>
                                                                                    <div class="comment-post">
                                                                                        <p>
                                                                                            <small>{{yorum.content}}</small>
                                                                                        </p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </article>
                                                                </section>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-4" style="margin-top: 20px;">
                            <div class="widget ">
                                <div class="heading"><h4>SON HABERLER</h4></div>
                                <div class="content">
                                    <div class="wrap-vid" style="margin-left: 12px;" ng-repeat="haber in last3News()">
                                        <div class="zoom-container"  ng-click="getNewsDetail(haber.haberID)">
                                            <div class="zoom-caption">

                                                <p>{{haber.title}}</p>
                                            </div>
                                            <img src="{{haber.primaryImgURL}}"style="width: 250px; height: 200px; margin-top: 20px" />
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
