@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model List<Haberimdesin2.Models.HaberEntity>

@{

  
    <div style="border:1px solid black;padding:25px;text-align:center;">
     
        <h2>Son Beş Makale</h2>
        <!--
        //Burada Model dediğimiz zaman, Controllerden gelen veriye direkt ulaşmaktayız.
        //Biz burada liste halinde gelen Model'imizde döngü kurarak, içindeki verileri
        //html olarak basacağız.
            -->
        @foreach (var item in Model)
        {
            //Burada her makalenin etrafına çerçeve attık
            <div style="border:1px solid black">
                <!--Başlığımızı link haline getirdik ve tıklandığı zaman, makaleId'yi parametre olarak
                    Action'umuza geçtik-->
               
                <p>@item.HeadLine</p>
                <p>@item.TimeStamp</p>
            </div>
        }
    </div>
}
