@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Şifreni mi unuttun?";
}

@{
    Layout = "_User";
}



<div ng-controller="News" class="row">
    <div id="main-content" class="col-md-12">
        <div class="box">
            <div class="text-center">
                <a class="" asp-area="" >
                    <img src="~/images/logo.png" alt="" />
                </a>
            </div>
            <div class="box-content">
                <center>
                    <div class="box-header">
                        <center><h2>@ViewData["Title"]</h2></center>
                    </div>
                    <hr />
                    <br />
                </center>
                <form method="post" class="form-horizontal">
               
                    <label  class="col-md-5 control-label"></label>
                    <div asp-validation-summary="All" class="text-danger col-md-3"><h3>Mail adresinizi giriniz</h3></div><br /><br /><br />
                    <label class="col-md-3 control-label"></label>
                    <div class="form-group">
                        <label asp-for="Email" class="col-md-1 control-label"></label>
                        <div class="col-md-1">
                            <input asp-for="Email" class="form-control"/>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="text-center" style="padding-top: 50px">
                            <button type="submit" ng-click="sifreUnut()" class="btn btn-primary">Gönder</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
        @section Scripts {
            @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
        }
