
@model IndexViewModel
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Hesabınızı Yönetin";
   
}


<div id="page-content" ng-controller="News" class="archive-page container">
    <div class="row">
        <div id="main-content" class="col-md-12">
            <div class="box">
                <center>
                    <div class="box-header">

                        <h2>@ViewData["Title"]</h2>
                    </div>
                </center>
                <div class="box-content">
                    <div>
                        <ul>
                            <li><a class="clickable btn-bracketed" asp-route-id="@UserManager.GetUserId(User)" asp-controller="ApplicationUsers" asp-action="Edit">Kişisel Bilgilerinizi düzeltmek için tıklayın.</a></li>

                        </ul>
                        <hr />
                        <dl class="dl-horizontal">
                            <div class="col-sm-4">
                                <img src="@ViewData["ProfileImgURL"]" style="height:200px; width:200px;" alt="Third slide">

                                <form ng-submit="uploadUserProfileImage()">
                                    <input type="file" id="profileImage" style="width:200px;" name="profileImagefile" file-model="profileImageFiles" class="form-control" accept=".jpg, .jpeg, .png" ng-required="true" />
                                    <input type="submit" class="btn btn-block btn-primary" style="width:200px;" value="Resmi Yenile" />
                                </form>
                                <br /><br />

                            </div>
                            <div class="col-sm-8">


                                <dt>
                                    Şifre:


                                </dt>
                                <dd>
                                    @if (Model.HasPassword)
                                    {
                                        <a asp-controller="Manage" asp-action="ChangePassword" class="btn-bracketed">Değiştir</a>
                                    }
                                    else
                                    {
                                        <a asp-controller="Manage" asp-action="SetPassword" class="btn-bracketed">Yeni şifre oluştur</a>
                                    }
                                </dd>


                                <dd>
                            <dt>Telefon Numarası:</dt>
                            @(Model.PhoneNumber ?? "Henüz eklenmemiş")
                            @if (Model.PhoneNumber != null)
                            {
                                <br />
                                        <a asp-controller="Manage" asp-action="AddPhoneNumber" class="btn-bracketed">Change</a>
                                        <form asp-controller="Manage" asp-action="RemovePhoneNumber" method="post">
                                            [<button type="submit" class="btn-link">Sil</button>]
                                        </form>
                            }
                            else
                            {
                                <a asp-controller="Manage" asp-action="AddPhoneNumber" class="btn-bracketed">Ekle</a>
                            }
                           
                             </dd>


                    </div>




                    <div class="col-sm-8" style="margin-top:30px">


                        <div class="box-content" ng-show="haberToEdit() != null">
                            <div class="container-fluid" ng-controller="News">
                                <form>
                                    <div class="container-fluid">

                                        <div class="col-md-3">
                                            Başlık:
                                        </div>
                                        <div class="col-md-9">
                                            <input name="haberHeader" id="haberHeader" class="form-control" ng-model="haberToEdit().title" ng-required="true" />
                                            <br />
                                        </div>
                                        <div class="col-md-3">
                                            Manşet:
                                        </div>
                                        <div class="col-md-9">
                                            <input name="Headline" id="haberHeadline" class="form-control" ng-model="haberToEdit().headLine" ng-required="true" />
                                            <br />
                                        </div>
                                        <div class="col-md-3">
                                            Haber Ayrıntı:
                                        </div>
                                        <div class="col-md-9">
                                            <textarea rows="5" cols="40" name="haberDetails" id="haberDetails" class="form-control" ng-model="haberToEdit().detail" ng-required="true"></textarea>
                                            <br />
                                        </div>



                                        <div class="col-md-offset-3 col-md-9">
                                            <input type="submit" class="btn btn-block btn-primary" ng-click="updateHaber()" value="Düzenle" />
                                            <br /><br />
                                        </div>

                                    </div>
                                </form>

                            </div>



                        </div>
                        <div ng-hide="habersOfUser().length">Henüz hiç haberiniz yok.</div>
                        <div class="panel panel-info" ng-repeat="haber in habersOfUser()">
                            <div class="panel-heading"><h7 style="font-size:1.25em;">{{haber.title}}</h7></div>


                            <div class="row">
                                <div class="container-fluid" style="padding: 0 10px 0 10px">
                                    <div class="col-sm-5" style="text-align:center;">
                                        <div class="row">
                                            <img id="primaryImage" src="{{haber.primaryImgURL}}" style="width: 300px; height: 200px; margin-top: 5px; margin-bottom:5px; margin-left:10px;" alt="">
                                        </div>
                                    </div>
                                    <div class="col-sm-7" style="text-align: left; ">
                                        <h6>{{haber.headLine}}</h6>
                                        <p>{{haber.detail}}</p>
                                        <hr />
                                        
                                            <tr style="margin-top:30px; right:0px;">
                                                <td>  <button style="width:100px; height:30px;" class="btn  btn-danger" type="button" ng-click="cancelNews(haber.haberID)"> Sil </button></td>

                                                <td>  <button style="width:100px; height:30px;" class="btn btn-success" type="button" ng-click="editNews(haber)">Düzenle</button></td>
                                            </tr>
                                      

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </dl>
            </div>
        </div>
    </div>
</div>