@using Microsoft.AspNetCore.Identity
@using Haberimdesin2.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hoşgeldin @UserManager.GetUserName(User)!</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link"><span class="glyphicon glyphicon-off" style="color:crimson;"> Çıkış </span></button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li ><a asp-area="" onclick="href = 'http://habersizsiniz.azurewebsites.net/Home/About'">Hakkımızda</a></li>
    
        <li><a asp-area=""  asp-controller="Account" asp-action="Login"><span class="glyphicon glyphicon-log-in"></span> Giriş </a></li>
        <li><a></a></li>
    </ul>
}

